<template name="loginIndex">
  {{#ionView}}
    {{#ionContent}}
      <div class="login-background">
        <div class="padding login-logo-container">
          <img id="login-logo" src="/images/logo.png" alt="logo">
        </div>
        <div class="padding-horizontal slogan">
          <span>One Pass, Access All.</span>
        </div>
        {{> atForm}}
        <div class="footer">
          <span>Class Up &copy; 2015 All Rights Reserved</span>
        </div>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>