div.ionic-body.grade-a.platform-web {
  height: 667px;
  background: rgb(248, 248, 248);

  div.class-header {
    input {
      height: 34px;
    }
  }

  div.class-view {
    height: calc(667px - 44px);
    width: 375px;
    position: fixed;
    top: 64px;

    div.view > div.scroll-content > div.content {
      background-color: black;

      div.list > div.class-item {
        a {
          width: 100%;
          margin: -1px 0 0 !important;
          div.info-left, div.info-right {
            div.info-detail {
              padding: 2px;
              color: black;
              text-align: left;
            }
          }
          div.info-left {
            width: 101px;
            div.class-time {
              font-size: 20px;
              font-weight: bold;
              color: #9C27B0;
              line-height: 30px;
            }
            div.class-length {
              font-size: 14px;
              font-weight: normal;
              color: #909090;
              line-height: 18px;
            }
          }
          div.info-right {
            width: 244px;
            div.class-gym {
              font-size: 20px;
              font-weight: bold;
              color: #9C27B0;
              line-height: 30px;
            }
            div.class-name, div.class-instructor, div.class-location {
              font-size: 14px;
              font-weight: bold;
              color: black;
              line-height: 18px;
            }
            div.class-location {
              color: #909090;
              line-height: 20px;
            }
            div.class-name {
              color: #AB47BC;
            }
          }
        }
        a::after {
          top: 0;
          right: 0;
          bottom: 1px;
          left: 0;
        }
      }
    }
  }
}
