div.ionic-body.grade-a.platform-web {
  height: 667px;

  div.class-header {
    input {
      height: 34px;
    }
  }

  div.class-view {
    height: calc(667px - 44px);
    width: 375px;
    position: fixed;
    top: 44px;

    div.view {
      height: calc(667px - 44px);
      width: 375px;
      position: fixed;
      top: 44px;
    }

    div.scroll-content {
      height: calc(667px - 44px);
      width: 375px;
      position: fixed;
      top: 44px;
    }

    div.view > div.scroll-content > div.content {
      background-color: black;
      height: calc(667px - 44px);
      width: 375px;
      position: fixed;
      top: 44px;

      div.list {
        height: calc(667px - 44px);
        width: 375px;
        position: fixed;
        top: 44px;
      }
      
      div.list > div.class-item {
        a {
          width: 100%;
          margin: 0 !important;
          div.info-left, div.info-right {
            div.info-detail {
              padding: 2px;
              color: black;
              line-height: 30px;
              text-align: left;
            }
          }
          div.info-left {
            width: 112.5px;
            div.class-time {
              font-size: 20px;
              font-weight: bold;
              color: teal;
            }
            div.class-length {
              font-size: 16px;
              font-weight: normal;
              color: black;
            }
          }
          div.info-right {
            width: 262.5px;
            div.class-gym {
              font-size: 20px;
              font-weight: bold;
              color: teal;
            }
            div.class-name, div.class-instructor {
              font-size: 16px;
              font-weight: bold;
              color: black
            }
          }
        }
        a::after {
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}
