.login-background {
  width: 100%;
  height: 100%;
  background: url("/images/login_bg_720.png");
  background-repeat: no-repeat;
  background-position: center;
}

.login-logo-container {
  text-align: center;
  color: white;
}

.login-logo-container p {
  margin-top: 20px;
  font-size: 22px;
  font-family: gotham-book;
}

#login-logo {
  margin: 240px auto 0;
  max-height: 80px;
  // width: 80%;
}

.slogan {
  font-size: 16px;
  margin: 20px auto 50px;
  padding: 15px 0;
  text-align: center;
  width: 45%;
}

.footer {
  bottom: 20px;
  font-size: 12px;
  text-align: center;
  position: absolute;
  width: 100%;
}

button.at-social-btn {
  width: 70%;
  margin: 0 auto;
}

div.at-oauth > div.item {
  border: none;
}