.button, .jumboText {
  color: white;
  opacity: 1;
  font-weight: bold;
}
.jumbotron, .reserveButton, .moreInfo {
  height: calc(100vh -43px);
  position: relative;
  top: 43px;
}
h2 {
  padding-top: 200px;
}
h2, h3, h4, p {
  text-align: center;
  color: white !important;
  font-weight: bold;
}
.reserveButton {
  margin: 0;
  position: 0;
}
.length {
  padding-bottom: 25px;
}
.modal-backdrop {
  position: fixed;
  top:240px;
  left:38px;
  width: 300px;
  height: 200px;
}
.blackie {
  color: #333 !important;
  font-size: 20px !important;
  padding-top: 20px;
}