<template name="classItem">
  {{#ionView}}
    {{#ionContent}}
      <div class="bar bar-header bar-dark">
        <a class="button icon-left ion-ios-arrow-thin-left button-clear button-dark"></a>
        <h1 class="title">CLASS DETAIL</h1>
      </div>
      <div class="jumbotron">
        <h2 class="className">FLY 45</h2>
        <h3 class="gymLocation">FLYWHEEL - CHELSEA</h3>
        <p class="instructor">Bree Banker</p>
        <p class="classDate">Thursday, January 1</p>
        <p class="classTime">6:30 - 7:15 PM</p>
      </div>
      <div class="reserveButton">
        <button class="button button-full button-assertive">
          RESERVE CLASS
        </button>
      </div>
      <div class="moreInfo">
        <ul class="list">
          <li class="item">

          </li>
        </ul>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>

