<template name="classesShow">

  <div class="bar bar-header bar-dark">
    <a class="button icon-left ion-ios-arrow-thin-left button-clear button-dark" href="{{pathFor 'classes'}}" style="color: white;"></a>
    <h1 class="title">CLASS DETAIL</h1>
    <a class="item-icon-right" href="#">
      <i class="icon ion-ios-calendar-outline"></i>
    </a>
  </div>

  {{#ionView}}
    {{#ionContent}}
    <div class="jumbotron" style="margin-top:0px">
      <div class="jumboText" style="opacity: 1;">
        <h1 class="className">{{name}}</h1>
        <h3 class="gym"> {{gym}}</h3>
        <p class="instructor">{{instructor}}</p>
        <p class="date">SUNDAY, APRIL 19</p>
        <p class="time">{{time}}</p>
        <p class="length">{{length}}</p>
      </div>
      <div class="backJumbo" style="background: url({{image}}) no-repeat center center; background-size: cover; height: 283px; margin-top: 90px;"></div>
    </div>
    <div class="reserveButton">
      <button class="button button-full" data-ion-modal="_modal" style="margin: 0; background-color: #9c27b0; border: 0; color: white;">
        RESERVE CLASS
      </button>
    </div>
    <div class="detail-section">
      <div class="category">
        <h3>Category</h3>
        <h4>{{category}}</h4>
      </div>
      <div class="friends">
        <h3>Friends</h3>
        <ul>
          <li><img src="/images/friend1.jpg" alt="friend"></li>
          <li><img src="/images/friend2.jpg" alt="friend"></li>
          <li><img src="/images/friend3.jpg" alt="friend"></li>
        </ul>
      </div>
    </div>
    {{/ionContent}}
  {{/ionView}}

</template>
