<template name="classesShow">

  <div class="bar bar-header bar-dark">
    <a class="button icon-left ion-ios-arrow-thin-left button-clear button-dark" href="{{pathFor 'classes'}}" style="color: white;"></a>
    <h1 class="title">CLASS DETAIL</h1>
  </div>
  {{#ionView}}
    {{#ionContent}}
    <div class="jumbotron" style="background: url({{image}}) no-repeat center center; background-size: cover; padding-bottom: 15px; padding-top: 15px; min-height: 578px">
      <div class="jumboText" style="opacity: 1;">
        <h2 class="className">{{name}}</h2>
        <p class="length">Starts in {{length}} - Join 5 friends</p>
        <h4 class="instructor">{{instructor}} - {{gym}}</h4>
        <p class="address">{{address}}</p>
        <p class="region">{{region}}</p>
      </div>
      <div class="backJumbo" style="background: url({{image}}) no-repeat center center; background-size: cover; padding-bottom: 15px; padding-top: 15px; min-height: 577px"></div>
      <div class="backJumbo" ></div>
    </div>
    <div class="reserveButton">
      <button class="button button-full button-assertive" data-ion-modal="_modal" style="margin: 0">
        RESERVE CLASS
      </button>
    </div>
    <!-- <div class="moreInfo">
      <ul class="list">
        <li class="item">

        </li>
      </ul>
    </div> -->
    {{/ionContent}}
  {{/ionView}}

</template>
